.Editable {
  margin: 0;
  padding: 0;

  appearance: none;
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;

  transition: box-shadow .2s, background-color .2s;
}
.Editable:hover {
  background-color: var(--editable-color);
}
.Editable:focus {
  outline: none;

  box-shadow: var(--focus);
  background-color: var(--editable-color);
}

.Editable::selection {
  background: var(--text-color);
  color: var(--paper-color);
}
