.Event {
  padding: 5px 7px;

  position: relative;

  background-color: #808080;
  color: var(--paper-color);
  border-radius: var(--border-radius);

  overflow: hidden;
}
.Event.overlap {
  margin-right: 30px;
  opacity: .75;

  box-shadow: var(--overlap-shadow);
}

.event-unit {
  font-size: 19.5px;
  font-weight: bold;
  line-height: 19.5px;
}

.Event button.remove {
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
}
.Event:hover button.remove,
.Event:active button.remove {
  opacity: 1;
  pointer-events: auto;
}

.Event.unit-0 { background-color: var(--unit-0); }
.Event.unit-1 { background-color: var(--unit-1); }
.Event.unit-2 { background-color: var(--unit-2); }
.Event.unit-3 { background-color: var(--unit-3); }
.Event.unit-4 { background-color: var(--unit-4); }
.Event.unit-5 { background-color: var(--unit-5); }
.Event.unit-6 { background-color: var(--unit-6); }

.style-outlined .Event {
  border: 1px solid;
  background-color: var(--paper-color);
}
.style-outlined .Event.unit-0 { color: var(--unit-0); }
.style-outlined .Event.unit-1 { color: var(--unit-1); }
.style-outlined .Event.unit-2 { color: var(--unit-2); }
.style-outlined .Event.unit-3 { color: var(--unit-3); }
.style-outlined .Event.unit-4 { color: var(--unit-4); }
.style-outlined .Event.unit-5 { color: var(--unit-5); }
.style-outlined .Event.unit-6 { color: var(--unit-6); }

.style-monochrome .Event { background-color: var(--text-color); }
.style-outlined.style-monochrome .Event {
  background-color: var(--paper-color);
  color: var(--text-color);
}
