:root {
  font-size: 14px;

  --background-color: #333;
  --accent-color: #5ac8fa;
  --controls-text-color: #ddd;

  --paper-color: #fff;
  --text-color: #000;
  --gridline-color: rgba(0,0,0,.15);

  --editable-color: rgba(0,0,0,.15);
  --focus: 0 0 0 1px #000, 0 0 0 4px rgba(0,0,0,.5);

  --border-radius: 3px;

  --text-size: 1rem;

  --unit-0: #ff3b30;
  --unit-1: #ff9500;
  --unit-2: #4cd964;
  --unit-3: #007aff;
  --unit-4: #7856D6;
  --unit-5: #5ac8fa;
  --unit-6: #ffcc00;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}

body,
input,
button,
select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: var(--text-size);
}

* {
  box-sizing: border-box;
}
