:root {
  font-size: 16px;

  --background-color: #fff;
  --text-color: #000;

  --text-size: 1rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: var(--text-size);
}

* {
  box-sizing: border-box;
}
